* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0b0606;
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  background: #000;
  position: sticky;
  top: 0;
}

.logo {
  color: #ff4081;
  font-size: 40px;
  margin-left: 30px ;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: #ff4081;
}

/* Hero */
.hero {
  height: 80vh;
  background: linear-gradient(to right, #000000cc, #000000cc),
              url('images/dance.jpg') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
}

.btn {
  padding: 12px 30px;
  background: #ff4081;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

/* Sections */
section {
  padding: 60px 80px;
  text-align: center;
}

.about p {
  max-width: 700px;
  margin: auto;
  line-height: 1.5;
}

/* Courses */
.class-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  padding: 40px;
  background: #222;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  background: #ff4081;
}

/* Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.img-box {
  height: 200px;
  background: #1bc1e3;
  border-radius: 10px;
}

/* Contact */
.contact p {
  margin: 10px 0;
}

/* Footer */
footer {
  background: #000;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}
.gallery-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.gallery-grid img {
  width: 300px;
  height: 250px;
  border: 2px solid #d13608e2;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0px #072af1e4;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;

}

.gallery-grid img:hover{
  filter: grayscale(1);
  transform: scale(1.03);
}


